<ul class="keypad">
    <li class="white"><app-key></app-key></li>
    <li class="black"><app-key></app-key></li>
    <li class="white"><app-key></app-key></li>
    <li class="black"><app-key></app-key></li>
    <li class="white"><app-key></app-key></li>
    <li class="white"><app-key></app-key></li>
    <li class="black"><app-key></app-key></li>
    <li class="white"><app-key></app-key></li>
    <li class="black"><app-key></app-key></li>
    <li class="white"><app-key></app-key></li>
    <li class="black"><app-key></app-key></li>
    <li class="white"><app-key></app-key></li>
    <li class="black"><app-key></app-key></li>
    <li class="white"><app-key></app-key></li>
</ul>
