.power-wrap{
    margin: 5px;
}
.power-wrap{
    text-align: center;
    padding-bottom: 5px;
}
.switch-background{
    height: 30px;
    width: 80px;
    background-color: black;
    position: relative;
    border-radius: 5px;
}

.switch-circle{
    height: 24px;
    width: 38px;
    top: 3px;
    border-radius: 5px;

    position: absolute;
    transition: all 0.5s ease;

    box-shadow: 0 0 2px 3px rgba(0,0,0,0.6) inset;
    background:linear-gradient(left,rgb(85, 85, 85) 0%,rgb(65, 65, 65) 50%, rgb(85, 85, 85) 100%);
}
.switch-on{
    border: 1px solid blue;
    left: 39px;
}
.switch-off{
    background-color: red;
    left: 3px;
}